services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: elt
      POSTGRES_PASSWORD: eltpassword
      POSTGRES_DB: warehouse
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

  metabase:
    image: metabase/metabase:v0.49.14
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    volumes:
      - ./metabase:/metabase-data

  dbt:
    build:
      context: ./dbt
      dockerfile: Dockerfile
    working_dir: /usr/app
    volumes:
      - ./dbt:/usr/app
    environment:
      DBT_USER: elt
      DBT_PASSWORD: eltpassword
      DBT_HOST: postgres
      DBT_DBNAME: warehouse
      DBT_SCHEMA: marts
      DBT_PROFILES_DIR: /usr/app
    depends_on:
      - postgres

volumes:
  pgdata: {}
